{% extends 'blog/basic.html' %}

{% block body %}
<div class="container text-light">
    <div class="row mt-4">
        <div class="col-md-8 blog-main">
            <h3 class="font-italic">
                {{post.title}}
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title">{{post.heading0}}</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
                <div class="fb-like" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div><br>

                <p>{{post.chead0}}</p>


                <h2>{{post.head1}}</h2>
                <p>{{post.chead1}}</p>
                <h2>{{post.head2}}</h2>
                <p>{{post.chead2}}</p>
                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width=""></div>
               
            </div><!-- /.blog-post -->

          


        </div><!-- /.blog-main -->

    
    </div>
</div>
{% block js %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
 {% endblock %}
{% endblock %}